<p-growl [(value)]="msgs" life="1000"></p-growl>
<app-emr-navigation></app-emr-navigation>
<div class="m-t10p emr-content-list">
  <div class="emr-tabcontent">
    <!-- List Page -->
    <div *ngIf="!isShowObservationDetails">
      <a class="addlist" id="lnk_observation" (click)="showObservationDetails()">
        <i class="fa fa-plus"></i>
      </a>
      <p-table #dt [columns]="tableHeaders" [value]="listEmrObservation" [paginator]="true" [rows]="10" (onLazyLoad)="loadLazy($event)"
        [totalRecords]="totalcount" [lazy]="!press" #tt >
        <ng-template pTemplate="caption">
          <div style="text-align: right">
            <label>Search:</label>
            <input type="text" pInputText size="25" (keypress)="press=true" [ngModel]="alpha" (ngModelChange)="searchCheck($event)" class="filter"
              style="width:auto" (input)="tt.filterGlobal($event.target.value, 'contains')" autocomplete='off'>
          </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr role="row">
            <th [pSortableColumn]="'SourceType'" width="120">SourceType
              <p-sortIcon [field]="'SourceType'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'SourceID'" width="100">SourceID
              <p-sortIcon [field]="'SourceID'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'Creater'">Creater
              <p-sortIcon [field]="'Creater'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'Status'">Status
              <p-sortIcon [field]="'Status'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'Category'" width="120">Category
              <p-sortIcon [field]="'Category'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'Code'">Code
              <p-sortIcon [field]="'Code'"></p-sortIcon>
            </th>
            <th>Action</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr [pSelectableRow]="rowData">
            <td>{{rowData.SourceTypeDesc}}</td>
            <td>{{rowData.SourceId}}</td>
            <td>{{rowData.CreatedBy}}</td>
            <td>{{rowData.StatusDesc}}</td>
            <td>{{rowData.CategoryDesc}}</td>
            <td>{{rowData.Code}}</td>
            <td>
              <a (click)="editObservation(rowData,'Edit')">
                <i class="fa fa-pencil-square-o edit"></i>
              </a>
              <a title="View" (click)="editObservation(rowData, 'readOnly')">
                <i class="fa fa-eye"></i>
              </a>
              <a (click)="deleteObservation(rowData)">
                <i class="fa fa-trash trash"></i>
              </a>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <!-- List Page ends here-->

    <!-- Page details -->
    <div *ngIf="isShowObservationDetails">
      <app-observation-details (goListingPage)="showObservationListingPage()" [observationDetails]="selectedObservation"></app-observation-details>
    </div>
    <!-- Page details ends here-->
  </div>
</div>