<section class="g-my-10 col-lg-12 nopadd">
  <div class="container">
    <ul class="u-list-inline">
      <li class="list-inline-item g-mr-7">
        <a class="u-link-v5 g-color-main g-color-primary--hover" href="#">{{'patientInfo.Home' | translate}}</a>
        <i class="fa fa-angle-right g-ml-7"></i>
      </li>
      <!-- <li class="list-inline-item g-mr-7">
        <a class="u-link-v5 g-color-main g-color-primary--hover" href="#">Pages</a>
        <i class="fa fa-angle-right g-ml-7"></i>
      </li> -->
      <li class="list-inline-item g-color-primary">
        <span>{{'patientInfo.patientInformation' | translate}}</span>
      </li>
    </ul>
  </div>
  </section>
  <p-confirmDialog></p-confirmDialog>
  <p-growl [(value)]="msgs" life="3000"></p-growl>
  <div class="row mt-140">
      <app-sidebar-nav class="col-lg-3 lookupmaster"></app-sidebar-nav>
      <div class="col-lg-9" id="PatientInfo">
        <ul class="nav nav-tabs menu">
          <li class="active" aria-expanded="false">
            <a data-toggle="tab" href="#Patient">{{'patientInfo.patientInformation' | translate}}</a>
          </li>
          <li>
            <a data-toggle="tab" href="#Guarantor">{{'patientInfo.GuarantorInformation' | translate}}</a>
          </li>
          <li>
            <a data-toggle="tab" href="#Insurance">{{'patientInfo.InsuranceInformation' | translate}}</a>
          </li>
          <li>
            <a data-toggle="tab" href="#Emergency">{{'patientInfo.EmergencyContact' | translate}}</a>
          </li>
        </ul>
        <div class="tab-content">
          <div id="Patient" class="tab-pane in active">
            <form [formGroup]="patientInfoForm">
              <div class="col-lg-12 col-md-12 col-sm-12 col-12 no-padd pt-4">
    
                <div>
                  <label class="col-lg-4 col-md-4 col-sm-4 col-xs-6">{{'patientInfo.FnameLname' | translate}}</label>
                  <input type="text" name="FirstName" value="" placeholder="First Name" [readonly]="true" class="col-lg-3 col-md-3 col-sm-3 col-xs-6" formControlName="FirstName"
                  />
                  <input type="text" placeholder="Last Name" class="col-lg-3 col-md-3 col-sm-3 col-xs-6" [readonly]="true" formControlName="LastName" />
                </div>
                <div>
                  <label class="col-lg-4 col-md-4 col-sm-4 col-xs-6">{{'patientInfo.gender' | translate}}</label>
                  <span *ngFor="let gender of gender">
                    <input type="radio" formControlName="Sex" [value]="gender.StatusId" class="colorBlack" disabled/> {{gender.Description}}</span>
                </div>
                <div>
                  <label class="col-lg-4 col-md-4 col-sm-4 col-xs-6">{{'patientInfo.birthdate' | translate}}</label>
                  <p-calendar formControlName="Birthdate" [monthNavigator]="true" [yearNavigator]="true" yearRange="1910:2020" class="col-lg-6 col-md-6 col-sm-6 col-xs-6"
                    dateFormat="dd/mm/yy" [disabled]="true"></p-calendar>
                  <!-- <input type="date" class="col-lg-6 col-md-6 col-sm-6 col-xs-6" formControlName="Birthdate" /> -->
                </div>
                <div>
                  <label class="col-lg-4 col-md-4 col-sm-4 col-xs-6">{{'patientInfo.placeOfBirth' | translate}}</label>
                  <input type="text" class="col-lg-6 col-md-6 col-sm-6 col-xs-6" formControlName="PlaceofBirth" [readonly]="true"/>
                </div>
                <div>
                  <label class="col-lg-4 col-md-4 col-sm-4 col-xs-6">{{'patientInfo.age' | translate}}</label>
                  <input type="text" class="col-lg-6 col-md-6 col-sm-6 col-xs-6" formControlName="Age" maxlength="3" [readonly]="true" />
                </div>
                <div>
                  <label class="col-lg-4 col-md-4 col-sm-4 col-xs-6">{{'patientInfo.martialStatus' | translate}} </label>
                  <select class="col-lg-6 col-md-6 col-sm-6 col-xs-6 colorBlack" formControlName="MaritalStatus" disabled>
                    <option *ngFor="let mStatus of mStatus" [value]="mStatus.StatusId">{{mStatus.Description}}</option>
                  </select>
                </div>
                <div>
                  <label class="col-lg-4 col-md-4 col-sm-4 col-xs-6">{{'patientInfo.streetAddress' | translate}}</label>
                  <input type="text" placeholder="Street" class="col-lg-2 col-md-2 col-sm-2 col-xs-6" formControlName="Street" [readonly]="true"/>
                  <input type="text" placeholder="City" class="col-lg-1 col-md-2 col-sm-2 col-xs-6" formControlName="City" [readonly]="true"/>
                  <input type="text" placeholder="State" class="col-lg-1 col-md-2 col-sm-2 col-xs-6" formControlName="State" maxlength="2" [readonly]="true"
                  />
                  <input type="text" placeholder="Zip Code" class="col-lg-1 col-md-2 col-sm-2 col-xs-6 zip" formControlName="ZipCode" [readonly]="true"
                    maxlength="10" />
                </div>
                <div>
                  <label class="col-lg-4 col-md-4 col-sm-4 col-xs-6">{{'patientInfo.phone' | translate}}</label>
                  <input type="text" placeholder="Phone" class="col-lg-6 col-md-6 col-sm-6 col-xs-6" formControlName="HomePhone" [readonly]="true"
                    maxlength="15" />
                </div>
                <div>
                  <label class="col-lg-4 col-md-4 col-sm-4 col-xs-6">{{'patientInfo.employer' | translate}}</label>
                  <input type="text" placeholder="Employer" class="col-lg-6 col-md-6 col-sm-6 col-xs-6" formControlName="Employer" [readonly]="true"/>
                </div>
                <div>
                  <label class="col-lg-4 col-md-4 col-sm-4 col-xs-6">{{'patientInfo.occupation' | translate}}</label>
                  <input type="text" placeholder="Occupation" class="col-lg-6 col-md-6 col-sm-6 col-xs-6" formControlName="Occupation" [readonly]="true"/>
                </div>
                <div>
                  <label class="col-lg-4 col-md-4 col-sm-4 col-xs-6">{{'patientInfo.workAddress' | translate}}</label>
                  <input type="text" placeholder="Street" class="col-lg-2 col-md-2 col-sm-2 col-xs-6" formControlName="WAStreet" [readonly]="true" />
                  <input type="text" placeholder="City" class="col-lg-1 col-md-2 col-sm-2 col-xs-6" formControlName="WACity" [readonly]="true" />
                  <input type="text" placeholder="State" class="col-lg-1 col-md-2 col-sm-2 col-xs-6" formControlName="WAState" maxlength="2" [readonly]="true"
                  />
                  <input type="text" placeholder="Zip Code" class="col-lg-1 col-md-2 col-sm-2 col-xs-6 zip" formControlName="WAZipCode" [readonly]="true"
                    maxlength="10" />
                </div>
                <div>
                  <label class="col-lg-4 col-md-4 col-sm-4 col-xs-6">{{'patientInfo.preferredLanguage' | translate}}</label>
                  <select class="col-lg-6 col-md-6 col-sm-6 col-xs-6 colorBlack" formControlName="PreferredLanguage" disabled>
                    <option [value]="1">English</option>
                    <option [value]="2">Spanish</option>
                    <option [value]="3">Russian</option>
                    <option [value]="4">Other</option>
                  </select>
                </div>
                <div>
                  <label class="col-lg-4 col-md-4 col-sm-4 col-xs-6">{{'patientInfo.ethnicOrigin' | translate}}</label>
                  <select class="col-lg-6 col-md-6 col-sm-6 col-xs-6 colorBlack" formControlName="EthnicOrigin" disabled>
                    <option *ngFor="let eOrgin of ethnicOrgin" [value]="eOrgin.StatusId">{{eOrgin.Description}}</option>
                  </select>
                </div>
                <div>
                  <label class="col-lg-4 col-md-4 col-sm-4 col-xs-6">{{'patientInfo.race' | translate}}</label>
                  <select class="col-lg-6 col-md-6 col-sm-6 col-xs-6 colorBlack" formControlName="Race" disabled>
                    <option *ngFor="let race of race" [value]="race.StatusId">{{race.Description}}</option>
                  </select>
                </div>
                <div>
                  <label class="col-lg-4 col-md-4 col-sm-4 col-xs-6">{{'patientInfo.socialSecurityNumber' | translate}}</label>
                  <input type="text" placeholder="Social Security Number" class="col-lg-6 col-md-6 col-sm-6 col-xs-6" formControlName="SSN"
                    [readonly]="true" />
                </div>
                <div>
                  <label class="col-lg-4 col-md-4 col-sm-4 col-xs-6">{{'patientInfo.emailAddress' | translate}}</label>
                  <input type="text" placeholder="Email Address" class="col-lg-6 col-md-6 col-sm-6 col-xs-6" formControlName="EmailAddress" [readonly]="true"
                  />
                  <control-messages [control]="patientInfoForm.controls.EmailAddress" class="errorMessage col-lg-6 col-md-6 col-sm-6"></control-messages>
                </div>
              </div>
            </form>
          </div>
    
          <div id="Guarantor" class="tab-pane fade" >
            <form [formGroup]="GuarantorForm">
                <div formArrayName="itemGuarantor" >
              <div class="col-lg-12 col-md-12 col-sm-12 col-12 no-padd pt-4 lastForm" *ngFor="let itemguarantor of GuarantorForm.get('itemGuarantor').controls;let i= index;" [formGroupName]="i">
                <div>
                  <label class="col-lg-4 col-md-4 col-sm-4 col-xs-6">{{'patientInfo.GurantorsName' | translate}} </label>
                  <input type="text" placeholder="First Name" class="col-lg-3 col-md-3 col-sm-3 col-xs-6" formControlName="FirstName"[readonly]="true"/>
                  <input type="text" placeholder="Last Name" class="col-lg-3 col-md-3 col-sm-3 col-xs-6" formControlName="LastName" [readonly]="true"/>
                </div>
                <div>
                  <label class="col-lg-4 col-md-4 col-sm-4 col-xs-6">{{'patientInfo.Relationship' | translate}}</label>
                  <select class="col-lg-6 col-md-6 col-sm-6 col-xs-6 colorBlack" formControlName="Relationship" disabled>
                    <option *ngFor="let relation of relations" [value]="relation.StatusId">{{relation.Description}}</option>
                  </select>
                </div>
                <div>
                  <label class="col-lg-4 col-md-4 col-sm-4 col-xs-6">{{'patientInfo.gender' | translate}}</label>
                  <span *ngFor="let gender of gender">
                    <input type="radio" formControlName="Sex" [value]="gender.StatusId" disabled class="colorBlack"/> {{gender.Description}}</span>
                </div>
                <div>
                  <label class="col-lg-4 col-md-4 col-sm-4 col-xs-6">{{'patientInfo.birthdate' | translate}}</label>
                  <p-calendar formControlName="Birthdate" [monthNavigator]="true" [yearNavigator]="true" yearRange="1910:2020" class="col-lg-6 col-md-6 col-sm-6 col-xs-6"
                    dateFormat="dd/mm/yy" [style]="{'width':'410px'}" [disabled]="true"></p-calendar>
                </div>
    
                <div>
                  <label class="col-lg-4 col-md-4 col-sm-4 col-xs-6">{{'patientInfo.age' | translate}}</label>
                  <input type="text" class="col-lg-6 col-md-6 col-sm-6 col-xs-6" formControlName="Age" maxlength="3" [readonly]="true" />
                </div>
                <div>
                  <label class="col-lg-4 col-md-4 col-sm-4 col-xs-6">{{'patientInfo.martialStatus' | translate}}</label>
                  <select class="col-lg-6 col-md-6 col-sm-6 col-xs-6 colorBlack" formControlName="MaritalStatus" disabled>
                    <option *ngFor="let mStatus of mStatus" [value]="mStatus.StatusId">{{mStatus.Description}}</option>
                  </select>
                </div>
                <div>
                  <label class="col-lg-4 col-md-4 col-sm-4 col-xs-6">{{'patientInfo.streetAddress' | translate}}</label>
                  <input type="text" placeholder="Street" class="col-lg-2 col-md-2 col-sm-2 col-xs-6" formControlName="Street" maxlength="45"[readonly]="true"
                  />
                  <input type="text" placeholder="City" class="col-lg-1 col-md-2 col-sm-2 col-xs-6" formControlName="City" maxlength="45"[readonly]="true"/>
                  <input type="text" placeholder="State" class="col-lg-1 col-md-2 col-sm-2 col-xs-6" formControlName="State" maxlength="2" [readonly]="true"
                  />
                  <input type="text" placeholder="Zip Code" class="col-lg-1 col-md-2 col-sm-2 col-xs-6 zip" formControlName="ZipCode" [readonly]="true"
                    maxlength="10" />
                </div>
              </div>
              </div>
            </form>
          </div>
         
    
          <div id="Insurance" class="tab-pane fade" >
            <form [formGroup]="insuranceInfoForm">
                <div formArrayName="itemInsurance">
              <div class="col-lg-12 col-md-12 col-sm-12 col-12 no-padd pt-4 lastForm" *ngFor="let iteminsurance of insuranceInfoForm.get('itemInsurance').controls;let i = index;" [formGroupName]="i">
    
                <div>
                  <label class="col-lg-4 col-md-4 col-sm-4 col-xs-6">{{'patientInfo.SubscribersName' | translate}}</label>
                  <input type="text" placeholder="First Name" class="col-lg-3 col-md-3 col-sm-3 col-xs-6" formControlName="FirstName" maxlength="45"
                  [readonly]="true"/>
                  <input type="text" placeholder="Last Name" class="col-lg-3 col-md-3 col-sm-3 col-xs-6" formControlName="LastName" maxlength="45"
                  [readonly]="true"/>
                </div>
                <div>
                  <label class="col-lg-4 col-md-4 col-sm-4 col-xs-6">{{'patientInfo.Relationship' | translate}}</label>
                  <select class="col-lg-6 col-md-6 col-sm-6 col-xs-6 colorBlack" formControlName="Relationship" disabled>
                    <option *ngFor="let relation of relations" [value]="relation.StatusId">{{relation.Description}}</option>
                  </select>
                </div>
                <div>
                  <label class="col-lg-4 col-md-4 col-sm-4 col-xs-6">{{'patientInfo.birthdate' | translate}}</label>
                  <p-calendar formControlName="Birthdate" [monthNavigator]="true" [yearNavigator]="true" yearRange="1910:2020" class="col-lg-6 col-md-6 col-sm-6 col-xs-6"
                    dateFormat="dd/mm/yy" [disabled]="true"></p-calendar>
                </div>
                <div>
                  <label class="col-lg-4 col-md-4 col-sm-4 col-xs-6">{{'patientInfo.gender' | translate}}</label>
                  <span *ngFor="let gender of gender" >
                    <input type="radio" disabled formControlName="Sex" [value]="gender.StatusId" class="colorBlack"/> {{gender.Description}}</span>
                  <!-- <input type="radio" formControlName="Sex" [value]="0" /> FeMale -->
                </div>
    
                <div>
                  <label class="col-lg-4 col-md-4 col-sm-4 col-xs-6">{{'patientInfo.socialSecurityNumber' | translate}}</label>
                  <input type="text" placeholder="Social Security Number" class="col-lg-6 col-md-6 col-sm-6 col-xs-6" formControlName="SSN"
                    [readonly]="true" maxlength="11" />
                </div>
                <div>
                  <label class="col-lg-4 col-md-4 col-sm-4 col-xs-6">{{'patientInfo.streetAddress' | translate}}</label>
                  <input type="text" placeholder="Street" class="col-lg-2 col-md-2 col-sm-2 col-xs-6" formControlName="Street" maxlength="45" [readonly]="true"
                  />
                  <input type="text" placeholder="City" class="col-lg-1 col-md-2 col-sm-2 col-xs-6" formControlName="City" maxlength="45" [readonly]="true"/>
                  <input type="text" placeholder="State" class="col-lg-1 col-md-2 col-sm-2 col-xs-6" formControlName="State" maxlength="2" [readonly]="true"
                  />
                  <input type="text" placeholder="Zip Code" class="col-lg-1 col-md-2 col-sm-2 col-xs-6 zip" formControlName="ZipCode" [readonly]="true"
                    maxlength="10" />
                </div>
                <div>
                  <label class="col-lg-4 col-md-4 col-sm-4 col-xs-6">{{'patientInfo.employer' | translate}}</label>
                  <input type="text" placeholder="Employer" class="col-lg-6 col-md-6 col-sm-6 col-xs-6" formControlName="Employer" maxlength="45" [readonly]="true"
                  />
                </div>
                <div>
                  <label class="col-lg-4 col-md-4 col-sm-4 col-xs-6">{{'patientInfo.WorkPhone' | translate}}</label>
                  <input type="text" placeholder="Work Phone" class="col-lg-6 col-md-6 col-sm-6 col-xs-6" formControlName="WorkPhone" [readonly]="true"
                    maxlength="15" />
                </div>
    
                <div>
                  <label class="col-lg-4 col-md-4 col-sm-4 col-xs-6">{{'patientInfo.workAddress' | translate}}</label>
                  <input type="text" placeholder="Street" class="col-lg-2 col-md-2 col-sm-2 col-xs-6" formControlName="WAStreet" maxlength="45" [readonly]="true"
                  />
                  <input type="text" placeholder="City" class="col-lg-1 col-md-2 col-sm-2 col-xs-6" formControlName="WACity" maxlength="45" [readonly]="true"
                  />
                  <input type="text" placeholder="State" class="col-lg-1 col-md-2 col-sm-2 col-xs-6" formControlName="WAState" maxlength="2" [readonly]="true"
                  />
                  <input type="text" placeholder="Zip Code" class="col-lg-1 col-md-2 col-sm-2 col-xs-6 zip" formControlName="WAZipCode" [readonly]="true"
                    maxlength="10" />
                </div>
              </div>
              </div>
            </form>
          </div>
          <div id="Emergency" class="tab-pane fade">
            <form [formGroup]="emergencyContactForm">
              <div formArrayName="itemRows">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12 no-padd pt-4 lastForm"  *ngFor="let itemrow of emergencyContactForm.get('itemRows').controls;let i = index;" [formGroupName]="i" >
                  <div>
                    <label class="col-lg-4 col-md-4 col-sm-4 col-xs-6"> {{'patientInfo.ContactsName' | translate}}</label>
                    <input type="text" placeholder="Contact's Name" class="col-lg-6 col-md-6 col-sm-6 col-xs-6" formControlName="ContactName"  [readonly]="true"/>
                  </div>
                  <div>
                    <label class="col-lg-4 col-md-4 col-sm-4 col-xs-6">{{'patientInfo.phone' | translate}}Phone</label>
                    <input type="text" placeholder="Phone" class="col-lg-6 col-md-6 col-sm-6 col-xs-6" [readonly]="true" formControlName="Phone" maxlength="15" />
                  </div>
                  <div>
                    <label class="col-lg-4 col-md-4 col-sm-4 col-xs-6">{{'patientInfo.Relationship' | translate}}</label>
                    <select class="col-lg-6 col-md-6 col-sm-6 col-xs-6 colorBlack"  formControlName="Relationship" disabled>
                      <option *ngFor="let relation of relations" [value]="relation.StatusId">{{relation.Description}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>