<section class="g-my-10 col-lg-12 nopadd light-grey">
  <div class="container">
    <ul class="u-list-inline">
      <li class="list-inline-item g-mr-7">
        <a class="u-link-v5 g-color-main g-color-primary--hover" href="#">{{ 'UserManagement.Home' | translate}}</a>
        <i class="fa fa-angle-right g-ml-7"></i>
      </li>
      <li class="list-inline-item g-color-primary">
        <span>{{ 'UserManagement.UserManagement' | translate}} </span>
      </li>
    </ul>
  </div>
</section>
<p-confirmDialog></p-confirmDialog>
<p-growl [(value)]="msgs" life="3000"></p-growl>




<div id="" class="case_manage m-t20">
  <section class="g-mb-100">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 lookupmaster nopadd" id="LookupMaster" style="display:block;">
          <!-- Nav tabs -->
          <ul class="nav nav-justified u-nav-v1-1 u-nav-primary g-brd-bottom--md g-brd-bottom-2 g-brd-primary col-lg-12 p-r0" role="tablist"
            data-target="nav-1-1-default-hor-left-underline" data-tabs-mobile-type="slide-up-down" data-btn-classes="btn btn-md btn-block rounded-0 u-btn-outline-primary g-mb-20">
            <li class="nav-item col-lg-3 nopadd">
              <a class="nav-link g-py-5 active" data-toggle="tab" href="#nav-1-1-default-hor-left-underline--1" role="tab">{{ 'UserManagement.UserManagement' | translate}} </a>
            </li>
            <li class="col-lg-9 pull-right text-right nopadd" style="padding:0">
              <!-- <input type="search" name="" value="" placeholder="Search..."/> -->
              <a id="invite" class="add_lookup text-white m-r5" data-toggle="modal" (click)="showUser()">
                <i class="fa fa-user-plus"></i>
              </a>
              <a id="Add_Lookup" class="add_lookup text-white" data-toggle="modal" (click)="showDialog()">
                <i class="fa fa-plus"></i>
              </a>
            </li>
          </ul>

          <div class="pull-right g-py-5 search-top">
            <!-- <input autocomplete='off' type="text" #gb pInputText size="25" placeholder="Find..." class="mrgbtm15 b-radius20" [(ngModel)]="searchData" > -->
            <input autocomplete='off' [(ngModel)]="userName" (keyup)="searchUser($event)" type="text" pInputText size="25" placeholder="Find..."
              class="mrgbtm15 b-radius20">

            <ul class="myUL list-search" *ngIf="list!=null">


              <div *ngFor="let list of list;let i = index">
                <li (click)="editProfile(list.UserIdentifier)">
                  <a>{{list.FirstName}} {{list.LastName}}</a>
                  <!-- <button [disabled]="list.ContactStatus==1  || list.ContactStatus==2 " class="uadd btn" (click)="inviteRequest(list,i)"  style="display:none;"> -->


                  <i class="fa fa-plus pr-1" width="20" title="Invite"></i>




                </li>
              </div>



            </ul>

          </div>

          <div class="page-title pt10 pb10">
            <div class="container">
              <div class="col-sm-12">
                <ol class="breadcrumb float-right">

                </ol>
                <h4 class="mb0">Welcome {{firstName}} {{lastName}}</h4>
              </div>
            </div>
          </div>

          <!-- <table class="table table-bordered lookup_table">
    <thead>
    <tr>
    <th>Account ID</th>
    <th>Name</th>
    <th>Position</th>
    <th>Company Name</th>
    <th>Status</th>
    <th>Action</th>
    </tr>
    </thead>
    <tbody id="lookup_body">
  
   
 
    <tr *ngFor="let users of userList | searchFilter: searchData">
    <td>{{users.AccountID}}</td>
    <td>{{users.FirstName}}</td>
    <td>{{users.Position}}</td>
    <td>{{users.CompanyName}}</td>
    <td>{{users.StatusId==1?"Active":users.StatusId==2?"Deactivated":users.StatusId==3?"Deleted":false}}</td>

    
    <td>
    

      <button class="greenBtn"  (click)="editProfile(users.UserIdentifier)">Edit</button>
      <button class="redBtn" (click)="confirmDeleteDeactivate(users.UserIdentifier, '1')">Delete</button>
      <button class="redBtn" *ngIf="users.StatusId == 1" (click)="confirmDeleteDeactivate(users.UserIdentifier,'2')">Deactivate</button> 
      <button class="redBtn" *ngIf="users.StatusId == 2" (click)="confirmActivate(users.UserIdentifier,'1')">Activate</button> 
      

    </td>
    </tr>

    </tbody>
    </table> -->



          <div id="blist_Table" class="clearFix content-section implementation col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadd" *ngIf="userList.length>0">
            <p-dataTable [lazy]="true" (onLazyLoad)="loadCarsLazy($event)" [totalRecords]="totalRecords" [value]="lazyList" [paginator]="true"
              [rows]="10" [pageLinks]="3" [responsive]="true">
              <p-column field="AccountID" header="AccountID" [sortable]="true" [editable]="true">
                <ng-template let-col let-user="rowData" pTemplate="body">
                  <span>
                    <a>{{user.AccountID}}</a>
                  </span>
                </ng-template>
              </p-column>
              <p-column field="FirstName" header="Name" [sortable]="true" [editable]="true">
                <ng-template let-col let-user="rowData" pTemplate="body">
                  <span>
                    <a>{{user.FirstName}}</a>
                  </span>
                </ng-template>
              </p-column>
              <p-column field="Position" header="Position" [sortable]="true" [editable]="true">
                <ng-template let-col let-user="rowData" pTemplate="body">
                  <span>{{user.Position}}</span>
                </ng-template>
              </p-column>
              <!-- <p-column field="emailAddress" header="Email Address" [sortable]="true" [editable]="true">
          <ng-template let-col let-user="rowData" pTemplate="body">
            <span>{{user.emailAddress}}</span>
          </ng-template>
        </p-column> -->
              <p-column field="CompanyName" header="CompanyName" [sortable]="true" [editable]="true">
                <ng-template let-col let-user="rowData" pTemplate="body">
                  <span>{{user.CompanyName}}</span>
                </ng-template>
              </p-column>
              <p-column field="StatusId" header="Status" [sortable]="true" [editable]="true">
                <ng-template let-col let-user="rowData" pTemplate="body">
                  <span>{{user.IsLockedOut == 1?"Locked":user.StatusId==1?"Active":user.StatusId==2?"Deactivated":user.StatusId==3?"Deleted":user.StatusId==4?"Inactive":"Inactive"}}
                  </span>
                </ng-template>
              </p-column>
              <!-- <p-column field="linkedAccount" header="Linked Account" [sortable]="true" [editable]="true">
          <ng-template let-col let-user="rowData" pTemplate="body" class="popup">
             <span>{{user.linkedAccount}}</span>
          </ng-template>
        </p-column> -->
              <!-- <p-column field="phoneNumber" header="Phone Number" [sortable]="true" [editable]="true">
         <ng-template let-col let-user="rowData" pTemplate="body" class="popup">
          <span>{{user.phoneNumber}}</span>
         </ng-template>
       </p-column> -->
              <p-column field="" header="Action" [sortable]="true" [editable]="true" [style]="{'width':'200px'}">
                <ng-template let-col let-user="rowData" pTemplate="body" class="popup">
                  <div *ngIf="user.StatusId != 3">
                    <button class="greenBtn" *ngIf="user.StatusId != 4" (click)="editProfile(user.UserIdentifier)">{{ 'UserManagement.Edit' | translate}}</button>
                    <button class="redBtn" *ngIf="user.StatusId != 4" (click)="confirmDeleteDeactivate(user.UserIdentifier, '1')">{{ 'UserManagement.Delete' | translate}}</button>
                    <button class="redBtn" *ngIf="user.StatusId == 1" (click)="confirmDeleteDeactivate(user.UserIdentifier,'2')">{{ 'UserManagement.Deactivate' | translate}}</button>

                    <button class="redBtn" *ngIf="user.StatusId == 2" (click)="confirmActivate(user.UserIdentifier,'1')">{{ 'UserManagement.Activate' | translate}}</button>

                    <button class="redBtn m-t5" *ngIf="user.IsLockedOut == 1" (click)="unlockAccount(user.UserIdentifier)">{{ 'UserManagement.UnLock' | translate}}</button>
                  </div>
                  <!-- <button class="redBtn">Delete</button>    -->
                </ng-template>
              </p-column>


            </p-dataTable>


          </div>



          <!-- End Nav tabs -->

        </div>

      </div>
    </div>
  </section>
</div>




<p-dialog header="{{ 'UserManagement.UserManagement' | translate}}" [(visible)]="display" [responsive]="true" showEffect="fade" [modal]="true" [width]="600">
  <!-- *ngIf="car" -->
  <div class="ui-grid ui-grid-responsive ui-fluid" id="LookUp_popup">



    <form [formGroup]="profileForm" [class.disbaledInput]="!isEdit" class="userprofile">
      <div class="row g-brd-bottom g-brd-gray-light-v4 g-py-10">
        <label class="col-sm-3 col-form-label g-color-gray-dark-v2 g-font-weight-700 text-sm-left ">{{ 'UserManagement.FirstName' | translate}}
          <span class="required">*</span>
        </label>
        <div class="col-sm-8">
          <div class="input-group g-brd-primary--focus">
            <input class="form-control form-control-md g-py-13 rounded-0 pr-0" type="text" [maxlength]="90" placeholder="{{ 'UserManagement.FirstName' | translate}}"
              formControlName="FirstName">
          </div>
        </div>
      </div>
      <div class="row g-brd-bottom g-brd-gray-light-v4 g-py-10">
        <label class="col-sm-3 col-form-label g-color-gray-dark-v2 g-font-weight-700 text-sm-left ">{{ 'UserManagement.LastName' | translate}}
          <span class="required">*</span>
        </label>
        <div class="col-sm-8">
          <div class="input-group g-brd-primary--focus">
            <input class="form-control form-control-md g-py-13 rounded-0 pr-0" type="text" [maxlength]="90" placeholder="{{ 'UserManagement.LastName' | translate}}" formControlName="LastName">
          </div>
        </div>
      </div>
      <div class="row g-brd-bottom g-brd-gray-light-v4 g-py-10">
        <label class="col-sm-3 col-form-label g-color-gray-dark-v2 g-font-weight-700 text-sm-left ">{{ 'UserManagement.MiddleName' | translate}}
        </label>
        <div class="col-sm-8">
          <div class="input-group g-brd-primary--focus">
            <input class="form-control g-color-black g-bg-white g-bg-white--focus rounded g-px-15" [maxlength]="40" type="text" placeholder="{{ 'UserManagement.MiddleName' | translate}}"
              formControlName="MiddleName">
          </div>
        </div>
      </div>
      <div class="row g-brd-bottom g-brd-gray-light-v4 g-py-10">
        <label class="col-sm-3 col-form-label g-color-gray-dark-v2 g-font-weight-700 text-sm-left ">{{'UserManagement.Password' | translate}}
          <span class="required">*</span>
        </label>
        <div class="col-sm-8">
          <div class="input-group g-brd-primary--focus">
            <input class="form-control g-color-black g-bg-white g-bg-white--focus rounded g-px-15" [maxlength]="250" (keyup)="checkPassword($event)"
              type="password" placeholder="{{'UserManagement.Password' | translate}}" formControlName="Password">
          </div>
        </div>
        <!-- <control-messages [control]="registerForm.controls.Password" class="errorMessage"></control-messages>
       <div class="errorMessage" *ngIf="validationPassBlank==1">{{errorMessageBlankPass}}</div>
      <div class='required' *ngIf="validationError == 1">{{errorMessage}}</div> -->
      </div>
      <div class="row g-brd-bottom g-brd-gray-light-v4 g-py-10">
        <label class="col-sm-3 col-form-label g-color-gray-dark-v2 g-font-weight-700 text-sm-left ">{{ 'UserManagement.YourId' | translate}}
          <span class="required">*</span>
        </label>
        <div class="col-sm-8">
          <div class="input-group g-brd-primary--focus">
            <input class="form-control form-control-md g-py-13 rounded-0 pr-0" type="text" [maxlength]="140" placeholder="{{ 'UserManagement.YourId' | translate}}"
              formControlName="AccountID">
          </div>
        </div>
      </div>
      <div class="row g-brd-bottom g-brd-gray-light-v4 g-py-10">
        <label class="col-sm-3 col-form-label g-color-gray-dark-v2 g-font-weight-700 text-sm-left ">{{ 'UserManagement.Suffix' | translate}}
        </label>
        <div class="col-sm-8">
          <div class="input-group g-brd-primary--focus">
            <input class="form-control g-color-black g-bg-white g-bg-white--focus rounded g-px-15" [maxlength]="25" type="text" placeholder="Mr/Mrs"
              formControlName="Suffix">
          </div>
        </div>
      </div>
      <div class="row g-brd-bottom g-brd-gray-light-v4 g-py-10">
        <label class="col-sm-3 col-form-label g-color-gray-dark-v2 g-font-weight-700 text-sm-left ">{{ 'UserManagement.Gender' | translate}}</label>
        <div class="col-sm-8">
          <div class="col-lg-5 pull-left">
            <input formControlName="Gender" name="Gender" placeholder="Gender" type="radio" value="M">
            <label class="pos-b10">{{'UserManagement.Male' | translate}}</label>
          </div>
          <div class="col-lg-5 pull-left">
            <input formControlName="Gender" name="Gender" placeholder="Gender" type="radio" value="F">
            <label class="pos-b10">{{ 'UserManagement.Female' | translate}}</label>
          </div>
        </div>
      </div>
      <div class="row g-brd-bottom g-brd-gray-light-v4 g-py-10">
        <label class="col-sm-3 col-form-label g-color-gray-dark-v2 g-font-weight-700 text-sm-left ">{{ 'UserManagement.CompanyName' | translate}}</label>
        <div class="col-sm-8">
          <div class="input-group g-brd-primary--focus">
            <input class="form-control form-control-md g-py-13 rounded-0 pr-0" type="text" [maxlength]="100" placeholder="{{ 'UserManagement.CompanyName' | translate}}"
              formControlName="CompanyName">
          </div>
        </div>
      </div>
      <div class="row g-brd-bottom g-brd-gray-light-v4 g-py-10">
        <label class="col-sm-3 col-form-label g-color-gray-dark-v2 g-font-weight-700 text-sm-left ">{{ 'UserManagement.Position' | translate}}</label>
        <div class="col-sm-8">
          <div class="input-group g-brd-primary--focus">
            <input class="form-control form-control-md g-py-13 rounded-0 pr-0" type="text" [maxlength]="100" placeholder="{{ 'UserManagement.Position' | translate}}" formControlName="Position">
          </div>
        </div>
      </div>
      <div class="row g-brd-bottom g-brd-gray-light-v4 g-py-10">
        <label class="col-sm-3 col-form-label g-color-gray-dark-v2 g-font-weight-700 text-sm-left ">{{ 'UserManagement.Email' | translate}}
          <span class="required">*</span>
        </label>
        <div class="col-sm-8">
          <div class="input-group g-brd-primary--focus">
            <input class="form-control form-control-md g-py-13 rounded-0 pr-0" type="text" [maxlength]="100" placeholder="{{ 'UserManagement.Email' | translate}}" formControlName="PrimaryEmailId">
            <control-messages [control]="profileForm.controls.PrimaryEmailId" class="errorMessage"></control-messages>

          </div>
        </div>
      </div>
      <div class="row g-brd-bottom g-brd-gray-light-v4 g-py-10">
        <label class="col-sm-3 col-form-label g-color-gray-dark-v2 g-font-weight-700 text-sm-left ">{{ 'UserManagement.Website' | translate}}</label>
        <div class="col-sm-8">
          <div class="input-group g-brd-primary--focus">
            <input class="form-control form-control-md g-py-13 rounded-0 pr-0" type="text" [maxlength]="100" placeholder="{{ 'UserManagement.Website' | translate}}" formControlName="Website">
          </div>
        </div>
      </div>
      <div class="row g-brd-bottom g-brd-gray-light-v4 g-py-10">
        <label class="col-sm-3 col-form-label g-color-gray-dark-v2 g-font-weight-700 text-sm-left ">{{ 'UserManagement.PhoneNumber' | translate}}</label>
        <div class="col-sm-8">
          <div class="input-group g-brd-primary--focus">
            <input class="form-control form-control-md g-py-13 rounded-0 pr-0" [maxlength]="14" (keypress)="numberOnly($event)" type="text"
              placeholder="{{ 'UserManagement.PhoneNumber' | translate}}" formControlName="PhoneNumber">
          </div>
        </div>
      </div>
      <div class="row g-brd-bottom g-brd-gray-light-v4 g-py-10">
        <label class="col-sm-3 col-form-label g-color-gray-dark-v2 g-font-weight-700 text-sm-left ">{{ 'UserManagement.OfficeNumber' | translate}}</label>
        <div class="col-sm-8">
          <div class="input-group g-brd-primary--focus">
            <input class="form-control form-control-md g-py-13 rounded-0 pr-0" [maxlength]="14" (keypress)="numberOnly($event)" type="text"
              placeholder="{{'UserManagement.OfficeNumber' | translate}}" formControlName="OfficePhoneNumber">
          </div>
        </div>
      </div>
      <div class="row g-brd-bottom g-brd-gray-light-v4 g-py-10">
        <label class="col-sm-3 col-form-label g-color-gray-dark-v2 g-font-weight-700 text-sm-left ">{{ 'UserManagement.Address' | translate}}</label>
        <div class="col-sm-8">
          <div class="input-group g-brd-primary--focus">
            <input class="form-control form-control-md g-py-13 rounded-0 pr-0" type="text" [maxlength]="130" placeholder="{{ 'UserManagement.Address' | translate}}" formControlName="Address1">
          </div>
        </div>
      </div>
      <div class="row g-brd-bottom g-brd-gray-light-v4 g-py-10">
        <label class="col-sm-3 col-form-label g-color-gray-dark-v2 g-font-weight-700 text-sm-left ">{{ 'UserManagement.Address2' | translate}}</label>
        <div class="col-sm-8">
          <div class="input-group g-brd-primary--focus">
            <input class="form-control form-control-md g-py-13 rounded-0 pr-0" type="text" [maxlength]="130" placeholder="{{ 'UserManagement.Address2' | translate}}" formControlName="Address2">
          </div>
        </div>
      </div>
      <div class="row g-brd-bottom g-brd-gray-light-v4 g-py-10">
        <label class="col-sm-3 col-form-label g-color-gray-dark-v2 g-font-weight-700 text-sm-left ">{{ 'UserManagement.City' | translate}}</label>
        <div class="col-sm-8">
          <div class="input-group g-brd-primary--focus">
            <input class="form-control form-control-md g-py-13 rounded-0 pr-0" type="text" [maxlength]="60" placeholder="{{
              'UserManagement.City' | translate}}" formControlName="City">
          </div>
        </div>
      </div>
      <div class="row g-brd-bottom g-brd-gray-light-v4 g-py-10">
        <label class="col-sm-3 col-form-label g-color-gray-dark-v2 g-font-weight-700 text-sm-left ">{{ 'UserManagement.State' | translate}}</label>
        <div class="col-sm-8">
          <div class="input-group g-brd-primary--focus">
            <input class="form-control form-control-md g-py-13 rounded-0 pr-0" [maxlength]="2" type="text" placeholder="{{
              'UserManagement.State' | translate}}" formControlName="State">
          </div>
        </div>
      </div>

      <div class="row g-brd-bottom g-brd-gray-light-v4 g-py-10">
        <label class="col-sm-3 col-form-label g-color-gray-dark-v2 g-font-weight-700 text-sm-left ">{{ 'UserManagement.Zipcode' | translate}}</label>
        <div class="col-sm-8">
          <div class="input-group g-brd-primary--focus">
            <input class="form-control form-control-md g-py-13 rounded-0 pr-0" (keypress)="numberOnly($event)" [maxlength]="8" type="text"
              placeholder="{{
                'UserManagement.Zipcode' | translate}}" formControlName="Zipcode" OnlyNumber="true">
          </div>
        </div>
      </div>

    </form>

  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix popup">
      <button type="button" pButton icon="fa-check" [disabled]="!profileForm.valid" (click)="saveProfileTab()" class="save btn">{{ 'UserManagement.Save' | translate}}</button>
      <button type="button" pButton icon="fa-close" (click)="close()" class="cancel btn">{{ 'UserManagement.Cancel' | translate}}
      </button>
    </div>
  </p-footer>
</p-dialog>

<p-dialog header="{{'UserManagement.UserManagement' | translate}}" [(visible)]="userDisplay" [responsive]="true" showEffect="fade"
  [modal]="true" [width]="500">
  <!-- *ngIf="car" -->
  <div class="ui-grid ui-grid-responsive ui-fluid" id="Invite_Popup">

    <div class="modal-body">
      <div class="row">
        <label class="col-lg-3 col-md-4 col-sm-6 col-xs-6">{{'UserManagement.Email' | translate}}</label>
        <input type="email" placeholder="{{'UserManagement.Email' | translate}}" [(ngModel)]="email" class="col-lg-8 col-md-7 col-sm-6 col-xs-6"
        />
      </div>

    </div>

  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix popup invite-pop">
      <button type="button" pButton icon="fa-check" label="{{'UserManagement.Send' | translate}}" (click)="sendEmailInvite(email)"
        [disabled]="!email" class="save btn"></button>
      <button type="button" pButton icon="fa-close" (click)="cancel()" label="{{'UserManagement.Cancel' | translate}}" class="cancel btn"></button>
    </div>
  </p-footer>
</p-dialog>