

.u-btn-primary {color: #fff !important;background-color: #32c5d2 !important;}

.image-upload{background-color: #32c5d2 !important;width:60%;}

.list-group-item.active {background-color: #32c5d2;border-color: #32c5d2;color:#fff;}

.w-250{width:250px;}

.list-group-item{color:#444;}

.active-link {color: #32c5d2 !important;outline: none;}

.list-group {width:100%;}