<section class="g-bg-gray-light-v5">
  <div class="container g-py-100">
    <div class="row justify-content-center">
      <div class="col-sm-8 col-lg-5">
        <div class="u-shadow-v21 g-bg-white rounded g-py-40 g-px-30">
          <header class="text-center mb-4">
             {{message}}
          </header>
          <p>Please login to the application using your password provided in the registered email address. <a routerLink="/login" class="txt-blu">Click here</a> to login</p>
        </div>
      </div>
    </div>
  </div>
</section>
